body {
    font-family: Nunito,sans-serif;
}
.wrapper {
    height: 100%;
    overflow: hidden;
    width: 100%;
}
/* -- start -- 布局相关*/
.leftside-menu { /*左侧菜单区域*/
    width:260px;
    z-index:10;
    top:0;
    bottom:0;
    position:fixed;
    padding-top:70px;
    background:#313a46;
}

.content-page { /*右侧内容区域*/
    margin-left: 260px;
    overflow: hidden;
    padding: 70px 12px 65px;
    min-height: 100vh;
}
/* --  end  -- 布局*/

.logo {
    display: block;
    line-height: 70px;
    width: 260px;
    position: fixed;
    top: 0;
}

/* -- start -- 滚动区域（不含滚动条）*/
.leftside-menu-outer-container{
    position: relative;
    overflow: hidden;
    height: 100%;
    width: inherit;
}
.leftside-menu-inner-container {
    position:absolute;
    left: 0;
    overflow:hidden scroll;
    height: 300px;
}
.leftside-menu-content{
    position: relative;
    width: 260px;
    right: 0;
    color: tomato;
}
/* --  end  -- */

/* -- start -- 导航菜单*/
.side-nav{
    padding-left: 0;
    list-style-type: none;
}

body[data-leftbar-theme=dark] .side-nav .side-nav-title{
    color:#8391a2;
}
body[data-leftbar-theme=dark] .side-nav .side-nav-link {
    color: #8391a2;
}
body[data-leftbar-theme=dark] .side-nav .menuitem-active>a {
    color: #fff!important;
}

.side-nav-title { /*导航标题*/
    padding: 12px 30px; /*top,bottom 12px; left,right:30px */
    letter-spacing: .05em;
    pointer-events: none;
    cursor: default;
    font-size: .6875rem;
    text-transform: uppercase;
    color: #cedce4;
    font-weight: 700;
}

.side-nav .side-nav-link { /* 导航菜单链接 */
    color: #cedce4;
    display: block;
    padding: 10px 30px;
    font-size: .9375rem;
    position: relative;
    -webkit-transition: all .4s;
    transition: all .4s;
    list-style: none;
}
.side-nav .side-nav-link i { /* 导航菜单图标 */
    display: inline-block;
    line-height: 1.0625rem;
    margin: 0 10px 0 0;
    font-size: 1.1rem;
    vertical-align: middle;
    width: 20px;
}
.side-nav .badge {  /* 导航徽章 */
    margin-top: 3px;
}
.side-nav .side-nav-link span { /* 导航文字 */
    vertical-align: middle;
}

/* -- start -- 子菜单 */
.side-nav-forth-level, .side-nav-second-level, .side-nav-third-level {
    padding-left: 0;
}

body[data-leftbar-theme=dark] .side-nav .side-nav-forth-level li a,
body[data-leftbar-theme=dark] .side-nav .side-nav-second-level li a,
body[data-leftbar-theme=dark] .side-nav .side-nav-third-level li a {/* 导航子菜单颜色 */
    color: #8391a2;
}
.side-nav-forth-level li a,
.side-nav-second-level li a,
.side-nav-third-level li a { /* 导航子菜单元素样式 */
    padding: 8px 30px 8px 65px;
    color: #cedce4;
    display: block;
    position: relative;
    -webkit-transition: all .4s;
    transition: all .4s;
    font-size: .89rem;
}

a, button {
    outline: 0!important;
}

.float-end{
    float: right !important;
}

.vertical-scrollbar{
    width: 11px;
    right: 0;
    top:0;
    bottom: 0;
    overflow: hidden;
    position: absolute;

    pointer-events: all;
}
.scrollbar-handler{
    position:absolute;
    right: 2px;
    width: 5px;
    min-height: 10px;
}

